<!--
<div class="row">
<div class="tAlC crackerPostHouse col-md-10 col-md-offset-1">
    <img class="crackerPostL" src="images/crackerl.png" />
    <img class="crackerPostR" src="images/crackerr.png" />
    <canvas id="canvas"></canvas>
  </div>
</div>
-->

<section class="termsPage">

  <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <h1 class="tAlC"></h1>
        <div class="col-md-offset-2 col-md-8 col-sm-offset-2 col-sm-8 winMes">
        <!--<div class="bow"><img alt="A decorative bow" src="images/bow.png"></div>-->
          <div class="col-md-12 col-sm-12 wonBlurb" ng-if="whatWon != 0">
            <h2 class="text-center">Terms &amp; Conditions <br/> Umberto Giannini Christmas Cracker.</h2>

            <ol class="grandparent">
            	<li> The competition is open to residents of the United Kingdom excluding employees of Umberto Giannini Hair Cosmetics Ltd, their agents or families or anyone else connected with the promotion.</li>
            	<li> No purchase necessary.</li>
            	<li> Only one entry per email address.</li>
            	<li> Valid email address and internet access is required. </li>
            	<li> In order to participate you will be required to provide us with personal data which will allow us to contact you to arrange the prize delivery. </li>
            	<li> Use of a false name or email address will disqualify any applicant from receiving the prize. </li>
            	<li> Each winner will receive one of the following:
            		<ol class="parent">
            			<li>Umberto Giannini Beautilicious Gift</li>
            			<li>Umberto Giannini A Curl Story Gift</li>
            			<li>Umberto Giannini Beauty Box Gift</li>
            			<li>Umberto Giannini Glambox Gift</li>
            			<li>Umberto Giannini Glamvoyage Gift</li>
            			<li>Umberto Giannini Glam Hair Mousse 30ml</li>
            			<li>£2 Boots.com discount code:
            				<ol class="child">
            					<li>Not to be used in conjunction with any other offer.</li>
            					<li>Not valid on any Umberto Giannini Christmas Gifts.</li>
            					<li>Code only valid for use.</li>
            					<li>Code valid until 31/12/15.</li>
            				</ol>
            			</li>
		    			<li>Complimentary Cut & Blow Dry.
		    				<ol class="child">
		    					<li>Valid in Umberto Giannini in Selfridges Birmingham and Harvey Nichols Manchester only.</li>
		    					<li>Valid from 01.01.16 to 30.06.16.</li>
		    					<li>Available on services only and excludes retail products.</li>
		    					<li>Subject to availability and with selected stylists.</li>
		    					<li>Cannot be used in conjunction with any other offers or promotions.</li>
		    					<li>One voucher can be redeemed per customer.</li>
		    					<li>Photocopies cannot be accepted.</li>
		    					<li>No cash alternative.</li>
		    					<li>Any additional services will be charged</li>
                                <li>Travel to and from the salon is not provided. Winner must make and pay for own travel arrangements.</li>
		    				</ol>
						<li>Complimentary Blow Dry.
							<ol class="child">
								<li>Valid in Umberto Giannini Blow Dry Bar in Selfridges Birmingham and Harvey Nichols Manchester only.</li>
								<li>Valid from 01.01.16 to 30.06.16.</li>
								<li>Available on services only and excludes retail products.</li>
								<li>Subject to availability and with selected stylists.</li>
								<li>Cannot be used in conjunction with any other offers or promotions.</li>
								<li>One voucher can be redeemed per customer.</li>
								<li>Photocopies cannot be accepted.</li>
								<li>No cash alternative.</li>
								<li>Any additional services will be charged</li>
                                <li>Travel to and from the salon is not provided. Winner must make and pay for own travel arrangements.</li>
							</ol>
						</li>
				</ol>
    			<li>All prizes except the Boots.com discount code will be posted by Umberto Giannini Hair Cosmetics Ltd.</li>
    			<li>No cash alternatives will be substituted for the prize. The promoter reserves the right to substitute a prize of equal value in the event of circumstances beyond their control.</li>
    			<li>The winners will be contacted via Email and will be required to confirm their acceptance of the prize and confirm address details within 5 days. If the winner does not respond within 5 days Umberto Giannini Hair Cosmetics Ltd. will select an alternative winner.</li>
    			<li>Promoter: Umberto Giannini Hair Cosmetics Ltd. 48 Hylton St, Birmingham, West Midlands, B18 6HN</li>
            		
            	</li>
            <!-- <p><span class="whatWon">{{whatWon}}</span></p>
            <p>Lorem ipsum dolor sit amet, consectetur adipis cing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
            <p><span style="claimIt">Here’s how you claim it:</span></p>
            <p ng-if="isVou == 1">Log on to Boots.com and use the voucher code: UGHAIRSV2</p>
            <p ng-if="isVou == 0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incidid.</p> -->
          </div>
          <div class="col-md-8 col-sm-8 wonBlurb" ng-if="whatWon == 0">
            <h2>Oh no!</h2>
            <p>We're sorry but there seems to have been an error, please contact the administrators and explain the issue.</p><p>If you've refreshed the page after winning a prize, there is no need to contact anyone, your email should be on its way soon!</p>
          </div>
          
        </div>

        <div class="col-md-12">
                <button class="frButton termsBack" onclick="window.location.href='/#/'">Back</button>
              </div>
      </div>
    </div>

</section>