<!--
<div class="row">
<div class="tAlC crackerPostHouse col-md-10 col-md-offset-1">
    <img class="crackerPostL" src="../images/crackerl.png" />
    <img class="crackerPostR" src="../images/crackerr.png" />
    <canvas id="canvas"></canvas>
  </div>
</div>
-->

<section class="pullPage">
<div class="flasher"></div>
    <div class="row">
      <div class="col-md-8 col-md-offset-2 tAlC">
          <h1 class="tAlC mgBt0"><img alt="Pull Our Christmas Cracker" src="../images/pull-it.png" /></h1>
        <div class="col-md-8 col-md-offset-2 tAlC blurb">
          <p>To celebrate the holiday season and our fabulous Christmas gift collection, we're giving you the chance to pull our cracker and get ready for glamour. There is a prize every time so what are you waiting for?</p><p class="blackP" style="margin-bottom:14px;">Just start by giving us your name &amp; email address.</p>
        </div>
      </div>
      <div class="col-md-8 col-md-offset-2 capture1 clearfix">
        <input class="i1" type="text" ng-model="name" placeholder="FIRST NAME" />
        <input class="i2" type="text" ng-model="email" placeholder="EMAIL" />
        <div class="go" ng-click="deetsSubmit()">Go</div>
      </div>
      <div class="col-md-8 col-md-offset-2 error"><p></p></div>
    </div>

    <!--<div class="row reqEmail">
    <div class="block"></div>-->

      <div class="tAlC crackerPreHouse col-md-10 col-md-offset-1 noSel">
        <img alt="A Christmas Cracker" class="crackerPre" src="../images/crack.png" />
      </div>

      <div class="tAlC crackerPostHouse col-md-10 col-md-offset-1">
        <img alt="Half a christmas cracker" class="crackerPostL" src="../images/crackl.png" />
        <img alt="Half a christmas cracker" class="crackerPostR" src="../images/crackr.png" />
        <canvas id="canvas"></canvas>
      </div>

      <!--<div class="col-md-12 tAlC noSel">
        <h2 class="pullIt">Please fill in your name and email above.</h2>
      </div>-->
      <div class="col-md-12 tAlC noSel mgt10">
        <div class="pullerCont">
          <div class="block"></div>
          <div class="pullerMessage"></div>
          <div class="follower" id="grab"></div>
        </div>
      </div>

    <!--</div>-->
</section>